.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  min-height: calc(100vh - 120px); /* space for header + footer */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0.5rem 0;
}
