.ProductDetailContainer {
    display: flex;
    padding: 20px;
}

.ProductDetailTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin: 15px;
}

.ProductDetailCategory {
    color: gray;
}

.ProductDetailImage {
    width: 200px;
    margin-right: 20px;
}

.ProductDetailName {
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
    margin: 10px 0;
}

.ProductDetailPrice {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0px 10px 20px 0px;
}

.ProductDetailQuantity {
  background-color: #F88379;
  color: red;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.AddCartButton {
  background-color: #405cf5;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin: 22px 20px 0px 0px;
  padding: 5px 20px;
  line-height: 1.5em;
  border: none;
}

.EditButton {
  background-color: white;
  border-radius: 3px;
  color: gray;
  cursor: pointer;
  margin: 22px 0px;
  padding: 5px 20px;
  line-height: 1.5em;
  border: 1px solid grey;
}

.ProductDetailDescription {
    margin-top: 20px;
}